input[type=number]{
    width: 57px;
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: #E8F7F6;
}

body {
	font-family: Courier, "Courier New";
	font-size: 15px;
	padding-bottom: 40px;
	color: #000000;
	background-color: #E8F7F6;
}

h1 {
	font-family: "Didact Gothic";
	font-size: 22px;
	color: #069;
	border-bottom: 1px #999 dashed;
}

h2 {
	font-size: 18px;
	color: #069;
}

input, textarea {
	font-family: "Georgia, "Times New Roman", Times, serif";
	font-size: 13px;
	padding: 5px;
	border: 1px #999 solid;
	background:  #F9F9F9;
}

select {
	font-family: "Wild Words Roman BR";
	font-size: 10px;
	padding: 5px;
}

tab { padding-left: 2em; }

errorMessages{
	font-family: "Wild Words Roman BR";
	font-size: 10px;
	padding: 5px;
	color: #E81E17;
}

identificacaoComodo{
	float: center;
	text-align: center;
}